<div class="row no-margin margin-top-10" style="margin-top: 0px; height: calc(100vh - 56px); overflow: hidden;">
  <div class="col-lg-12 no-padding">
    <nav class="navbar-primary" style="background-color: red;">
      <div>
          <h3>{{name}}</h3>
          <p>Online {{time}} minutes</p>
          <ul role="list" class="navbar-primary-menu nav nav-tabs justify-content-start" style="padding: 0px 15px; ">
            <li class="nav-item cursor-pointer" *ngFor="let tab of tabs; index as i" style="outline: 0;" role="tablist">
              <a class="nav-link tab-link" role="tab" id="tabAnalytics_{{tab.id}}" [ngClass]="{'active': activeTabId == tab.id}"
                 aria-expanded="true" aria-disabled="false" tabindex="{{tab.id}}" (click)="changeTab(tab.id)"
                 style="outline: 0;">
                <strong><span class="nav-label">{{tab.title}}</span></strong>
              </a>
            </li>
          </ul>
      </div>
    </nav>
    <div class="tab-content">
      <app-analytics *ngIf="activeTabId == 0"></app-analytics>
    </div>
  </div>
</div>


